{%load static%}
<footer class="footer">
    <div class="footer-content">
        <div class="Comapany-logo">
            <img src="{%static 'images/buygreen.png'%}" alt="">
        </div>
        <div class="points">Comapany
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Privacy Police</a></li>
                <li><a href="">Terms And Conditions</a></li>
                <li><a href="">Blogs</a></li>

            </ul>
        </div>
        <div class="points">Social Media
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook fa-beat"></i>Facebook</a></li>
                <li><a href=""><i class="fa-brands fa-instagram fa-beat"></i>Instagram</a></li>
                <li><a href=""><i class="fa-brands fa-twitter fa-beat"></i>Twitter</a></li>
                <li><a href=""><i class="fa-brands fa-linkedin fa-beat"></i>Linked In</a></li>

            </ul>
        </div><div class="points">Contact us
            <ul>
                <li><a href=""><i class=" fa  fa-phone fa-shake"></i>+91 1234-9887</a></li>
                <li><a href=""><i class="fa-solid fa-envelope "></i>Buygreen@buygreen.in</a></li>
                <li><a href=""><i class="fa fa-location-dot fa-beat"></i>No 3 MKB Nagar Chennai-600118 Tamilnadu-IN</a></li>
            </ul>
        </div>
    </div>
</footer>