{%load static%}

<section>
    <div class="main-poster">
        <div class="poster">
            <div class="poster-img"><img class="img1" src="{%static 'images/poster.jpg'%}" alt=""></div>
            <div class="poster-img"><img class="img2" src="{%static 'images/poster2.jpg'%}" alt=""></div>
            <div class="poster-img"><img class="img3" src="{%static 'images/poster3.jpg'%}" alt=""></div>
            <div class="poster-img"><img class="img4" src="{%static 'images/poster4.jpg'%}" alt=""></div>
        </div>
    </div>
</section>
